---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { categoryData } from "../categories.ts";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    const categories = [
        ...new Set(posts.map((post) => post.data.category).filter(Boolean)),
    ];

    return categories.map((category) => ({
        params: { category },
        props: {
            category,
            posts: posts.filter((post) => post.data.category === category),
        },
    }));
}

const { category, posts } = Astro.props;
---

<Layout>
    <h1
        class="text-[#a277ff] font-[ocra] flex items-center justify-center text-4xl"
    >
        {categoryData[category]?.name || category}
    </h1>
    <ul class="mt-4">
        {
            posts.map((post, index) => (
                <a href={`/blog/${category}/${post.slug}`} class="block">
                    <li class="w-auto px-4 py-3 border-1 border-text-grey/40 rounded-md mx-4 font-space text-lg font-medium hover:text-accent transition-colors cursor-pointer">
                        <span class="mr-2">{index + 1}.</span>
                        {post.data.title}
                    </li>
                </a>
            ))
        }
    </ul>
</Layout>
