@import "tailwindcss";

@layer utilities {
    .nav-link {
        position: relative;
        padding-bottom: 2px;
        transition: color 0.3s ease-in-out;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background: #89b4fa;
        transition:
            width 0.3s ease-in-out,
            left 0.3s ease-in-out;
    }

    .nav-link:hover {
        color: #89b4fa;
    }

    .nav-link:hover::after {
        width: 100%;
        left: 0;
    }
}

@font-face {
    font-family: "OCR A";
    src: url("/fonts/OCRA Std.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Eurostile Normal";
    src: url("/fonts/Eurostile Normal.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Eurostile Bold";
    src: url("/fonts/Eurostile Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
