@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-accent: #a277ff;
    --color-dark-bg: #11111b;
    --color-text-grey: #cdd6f4;
    --font-space: "Space Grotesk", sans-serif;
}

@layer utilities {
    .nav-link {
        position: relative;
        padding-bottom: 2px;
        transition: color 0.3s ease-in-out;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background: var(--color-accent);
        transition: width 0.3s ease-in-out;
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .nav-link:hover {
        color: var(--color-accent);
    }

    .prose h1,
    .prose h2,
    .prose h3,
    .prose h4,
    .prose h5 {
        font-family: "eurostile_nr";
        font-weight: 400;
        color: var(--color-text-grey);
    }
}

@font-face {
    font-family: "ocra";
    src: url("/fonts/OCRA Std.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
